*.o
pomodoro-applet
io.stump.PomodoroApplet.panel-applet
io.stump.PomodoroApplet.panel-applet.in
org.gnome.panel.applet.PomodoroAppletFactory.service
*.pot
*.mo
*.gmo

# Autotools/intltool-related stuff
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.h*
config.log
config.status
configure
depcomp
install-sh
.intltool-merge-cache
m4/intltool.m4
missing
POTFILES
stamp-*
.deps
compile
