*.o
pomodoro-applet-gnome
pomodoro-applet-mate
io.stump.PomodoroApplet.panel-applet
io.stump.PomodoroApplet.panel-applet.in
io.stump.PomodoroApplet.mate-panel-applet
io.stump.PomodoroApplet.mate-panel-applet.in
org.mate.panel.applet.PomodoroAppletFactory.service
*.pot
*.mo
*.gmo
*.la
*.lo

# Autotools/intltool-related stuff
Makefile
Makefile.in
Makefile.in.in
aclocal.m4
autom4te.cache
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
install-sh
.intltool-merge-cache
libtool
ltmain.sh
m4/libtool.m4
m4/lt*.m4
m4/intltool.m4
missing
POTFILES
stamp-*
.deps
.libs
compile
